@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.loading {
  -webkit-animation: loading-bg 3s ease;
          animation: loading-bg 3s ease;
  z-index: 1001;
}

.loading-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.loading-elements__dome {
  width: 80%;
  position: fixed;
  text-align: center;
  z-index: 1000;
  /* opacity: 0; */
  -webkit-animation: dome 3s;
          animation: dome 3s;
  visibility: hidden;
}

@media screen and (min-width: 530px) {
  .loading-elements__dome {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .loading-elements__dome {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .loading-elements__dome {
    width: 40%;
  }
}

.loading-elements__txt {
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  position: fixed;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  z-index: 999;
  background: -webkit-linear-gradient(355deg, #9b59dc 0%, #a77fd8 39%, #ff79da 85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(2px 4px 6px #a77fd8);
          filter: drop-shadow(2px 4px 6px #a77fd8);
  -webkit-animation: loading-txt 3s;
          animation: loading-txt 3s;
}

@media screen and (min-width: 320px) {
  .loading-elements__txt {
    font-size: 2rem;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 375px) {
  .loading-elements__txt {
    font-size: 2.5rem;
    margin-top: 7vh;
  }
}

@media screen and (min-width: 530px) {
  .loading-elements__txt {
    font-size: 2.8rem;
    margin-top: 15vh;
  }
}

@media screen and (min-width: 768px) {
  .loading-elements__txt {
    font-size: 3.5rem;
    margin-top: 20vh;
  }
}

@media screen and (min-width: 1024px) {
  .loading-elements__txt {
    font-size: 4rem;
    margin-top: 25vh;
  }
}

@media screen and (min-width: 1440px) {
  .loading-elements__txt {
    font-size: 4rem;
    margin-top: 30vh;
  }
}

@-webkit-keyframes loading-bg {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@keyframes loading-bg {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@-webkit-keyframes dome {
  0% {
    /* opacity: 1; */
    visibility: visible;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  10% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(-13vh);
            transform: translateY(-13vh);
    /* opacity: 1; */
    visibility: visible;
  }
}

@keyframes dome {
  0% {
    /* opacity: 1; */
    visibility: visible;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  10% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(-13vh);
            transform: translateY(-13vh);
    /* opacity: 1; */
    visibility: visible;
  }
}

@-webkit-keyframes loading-txt {
  0% {
    opacity: 0;
    visibility: visible;
  }
  60% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes loading-txt {
  0% {
    opacity: 0;
    visibility: visible;
  }
  60% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 1rem;
}

.search {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.search__bar {
  background-color: #dbdbdb;
  width: 100%;
  text-align: center;
}

.search__bar-input {
  border: none;
  padding: 1rem;
  font-family: Roboto, "FontAwesome", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #dbdbdb;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: inset 0px 3px 4px #c1c0c0;
          box-shadow: inset 0px 3px 4px #c1c0c0;
}

.search__title {
  padding: 2rem 3rem 0.5rem 3rem;
}

.search__txt {
  font-size: 18px;
  font-weight: 300;
  padding: 0rem 1rem 1.5rem;
}

.btn {
  font-size: 18px;
  border: none;
  margin-bottom: 3rem;
  padding: 0.8rem 1rem;
  color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
          box-shadow: 0px 2px 10px 0px #7d7d7d;
  background: linear-gradient(356deg, #9b59dc 0%, #a77fd8 33%, #ff79da 100%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  background: linear-gradient(356deg, #a061de 0%, #ac87da 33%, #ff83dd 100%);
  -webkit-box-shadow: 0px 2px 10px 0px #525252;
          box-shadow: 0px 2px 10px 0px #525252;
}

.hiw {
  margin: 2rem 1rem;
}

.hiw__title {
  margin-bottom: 1rem;
}

@media screen and (min-width: 425px) {
  .hiw__title {
    text-align: center;
  }
}

.hiw-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 425px) {
  .hiw-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .hiw-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.hiw-wrapper-hiwcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f4;
  margin: 1rem 0rem 0.5rem 0.7rem;
  padding: 1.5rem 0rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 4px 15px 0px #c5c4c4;
          box-shadow: 0px 4px 15px 0px #c5c4c4;
}

@media screen and (min-width: 425px) {
  .hiw-wrapper-hiwcard {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hiw-wrapper-hiwcard {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 30vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.hiw-wrapper-hiwcard__ico {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .hiw-wrapper-hiwcard__ico {
    margin-right: 0.5rem;
  }
}

.hiw-wrapper-hiwcard:hover {
  background-color: #f2eafb;
}

.hiw-wrapper-hiwcard:hover > .hiw-wrapper-hiwcard__ico {
  color: #9356dc;
}

.num-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a26eda;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  margin-left: -3vw;
}

@media screen and (min-width: 768px) {
  .num-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0vw;
    margin-left: 0vw;
    position: absolute;
    top: -15px;
  }
}

.places {
  background-color: #f6f6f6;
  margin-top: 3rem;
  padding: 3rem 1rem;
}

.places__title {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 425px) {
  .places__title {
    text-align: center;
  }
}

.places-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 375px) {
  .places-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.places-wrapper-placescard {
  position: relative;
  background-color: #fff;
  border-radius: 2rem 2rem 1rem 1rem;
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 0px 4px 15px 0px #c5c4c4;
          box-shadow: 0px 4px 15px 0px #c5c4c4;
}

@media screen and (min-width: 375px) {
  .places-wrapper-placescard {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .places-wrapper-placescard {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .places-wrapper-placescard {
    width: 470px;
  }
}

@media screen and (min-width: 1440px) {
  .places-wrapper-placescard {
    width: 540px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.places-wrapper-placescard__img {
  width: 100%;
  max-height: 175px;
  border-radius: 2rem 2rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1440px) {
  .places-wrapper-placescard__img {
    max-height: 220px;
  }
}

.places-wrapper-placescard__img-txt {
  position: absolute;
  position: absolute;
  top: 14px;
  right: 20px;
  background-color: #85dcc7;
  color: #1b6150;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0.5rem;
  border-radius: 2px;
}

.places-wrapper-placescard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.places-wrapper-placescard-content-desc {
  line-height: 25px;
}

.places-wrapper-placescard__link {
  text-decoration: none;
  color: black;
}

.hearts {
  position: relative;
  border-radius: 50%;
  width: auto;
}

.hearts:hover > .heart-1 {
  opacity: 0;
  font-weight: 700;
}

.hearts:hover > .heart-2 {
  -webkit-animation: fill 250ms ease-out forwards;
          animation: fill 250ms ease-out forwards;
}

.heart-1 {
  position: absolute;
  color: #000000;
  font-size: 1.5rem;
  display: block;
  background: -webkit-linear-gradient(238deg, black 0%, black 39%, black 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.heart-2 {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(238deg, #9b59dc 0%, #a77fd8 39%, #ff79da 85%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

@-webkit-keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    font-weight: 700;
  }
}

@keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    font-weight: 700;
  }
}

.footer {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
}

.footer__header {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer__header {
    text-align: center;
    font-size: 26px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-list__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.footer-list__ico {
  margin-right: 0.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  color: #5a5a5a;
}

:-ms-input-placeholder {
  color: #5a5a5a;
}

::-ms-input-placeholder {
  color: #5a5a5a;
}

::placeholder {
  color: #5a5a5a;
}
/*# sourceMappingURL=main.css.map */