@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home {
  color: black;
  position: absolute;
  left: 7vw;
}

.header__logo {
  margin: 1rem;
}

.header__ico {
  font-size: 1.5rem;
}

.place {
  padding: 2rem 1rem 0rem 1rem;
  margin-top: -3rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 30;
  position: relative;
}

.place-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.place-title-wrapper__txt {
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  font-weight: 500;
}

.place-menu {
  -webkit-animation: slide 1000ms forwards;
          animation: slide 1000ms forwards;
}

@media screen and (min-width: 768px) {
  .place-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.place-menu__title {
  margin: 1.5rem 0rem 0rem 0rem;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.place-menu__underline {
  width: 42px;
  border: 2px solid #99e2d0;
}

.place-menu-card {
  background-color: #fff;
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 4px 15px 0px #bfbfbf;
          box-shadow: 2px 4px 15px 0px #bfbfbf;
  border-radius: 1rem;
  margin: 1rem 0rem;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .place-menu-card {
    width: 31vw;
  }
}

.place-menu-card:hover .place-menu-card-content-right {
  -webkit-animation: check 300ms linear forwards;
          animation: check 300ms linear forwards;
}

.place-menu-card:hover .place-menu-card__check-circle {
  -webkit-animation: check-rotate 600ms;
          animation: check-rotate 600ms;
}

.place-menu-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.place-menu-card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 26px;
  padding: 1rem;
  margin: -12px -15px -12px 20px;
  background-color: #99e2d0;
}

.place-menu-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.place-menu-card-content__title {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place-menu-card-content__txt {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place-menu-card-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -4rem;
}

.place-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-1 {
  -webkit-animation: slide 1000ms forwards;
          animation: slide 1000ms forwards;
}

.slide-2 {
  -webkit-animation: slide 1000ms 150ms forwards;
          animation: slide 1000ms 150ms forwards;
}

.slide-3 {
  -webkit-animation: slide 1000ms 300ms forwards;
          animation: slide 1000ms 300ms forwards;
}

.btn {
  margin: 1.5rem;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes check {
  0% {
    margin-right: -4rem;
  }
  100% {
    margin-right: 0rem;
  }
}

@keyframes check {
  0% {
    margin-right: -4rem;
  }
  100% {
    margin-right: 0rem;
  }
}

@-webkit-keyframes check-rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes check-rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hearts {
  position: relative;
  border-radius: 50%;
  width: auto;
}

.hearts:hover > .heart-1 {
  opacity: 0;
  font-weight: 700;
}

.hearts:hover > .heart-2 {
  -webkit-animation: fill 250ms ease-out forwards;
          animation: fill 250ms ease-out forwards;
}

.heart-1 {
  position: absolute;
  color: #000000;
  font-size: 1.5rem;
  display: block;
  background: -webkit-linear-gradient(238deg, black 0%, black 39%, black 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.heart-2 {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(238deg, #9b59dc 0%, #a77fd8 39%, #ff79da 85%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

@-webkit-keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    font-weight: 700;
  }
}

@keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    font-weight: 700;
  }
}

.btn {
  font-size: 18px;
  border: none;
  margin-bottom: 3rem;
  padding: 0.8rem 1rem;
  color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 10px 0px #7d7d7d;
          box-shadow: 0px 2px 10px 0px #7d7d7d;
  background: linear-gradient(356deg, #9b59dc 0%, #a77fd8 33%, #ff79da 100%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  background: linear-gradient(356deg, #a061de 0%, #ac87da 33%, #ff83dd 100%);
  -webkit-box-shadow: 0px 2px 10px 0px #525252;
          box-shadow: 0px 2px 10px 0px #525252;
}

.footer {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
}

.footer__header {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer__header {
    text-align: center;
    font-size: 26px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-list__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.footer-list__ico {
  margin-right: 0.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  color: #5a5a5a;
}

:-ms-input-placeholder {
  color: #5a5a5a;
}

::-ms-input-placeholder {
  color: #5a5a5a;
}

::placeholder {
  color: #5a5a5a;
}

img.top__img {
  width: 100%;
  position: relative;
  z-index: 29;
}
/*# sourceMappingURL=restaurants.css.map */