.header {
  display: flex;
  justify-content: center;
  align-items: center;
  &__home {
    color: black;
    position: absolute;
    left: 7vw;
  }
  &__logo {
    margin: 1rem;
    font-family: $font-secondary;
  }
  &__ico {
    font-size: 1.5rem;
  }
}
