.place {
  padding: 2rem 1rem;
  background-color: $section-bg;
  transform: translateY(-45px);
  border-radius: 2rem;
  &-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__txt {
      font-family: $font-secondary;
      font-size: 1.9rem;
      font-weight: 500;
    }
  }
  &-menu {
    &__title {
      margin: 1.5rem 0rem 0rem 0rem;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
    }
    &__underline {
      width: 12%;
      border: 2px solid $colour-tertiary;
    }
    &-card {
      background-color: #fff;
      padding: 12px 15px;
      display: flex;
      box-shadow: 2px 4px 15px 0px #bfbfbf;
      border-radius: 1rem;
      margin: 1rem 0rem;
      overflow: hidden;
      cursor: pointer;
      &:hover &-content-right {
        animation: check 300ms linear forwards;
      }
      &:hover &__check-circle {
        animation: check-rotate 600ms;
      }
      &__price {
        display: flex;
        align-items: flex-end;
      }
      &__check {
        display: flex;
        align-items: center;
        color: white;
        font-size: 26px;
        padding: 1rem;
        margin: -12px -15px -12px 20px;
        background-color: $colour-tertiary;
      }
      &-content {
        width: 71%;
        &__title {
          margin-bottom: 5px;
          white-space: nowrap;
        }
        &__txt {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-right {
          display: flex;
          transform: translateX(60px);
        }
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
@keyframes check {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
