.place {
  padding: 2rem 1rem 0rem 1rem;
  margin-top: -3rem;
  background-color: $section-bg;
  border-radius: 2rem 2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  z-index: 30;
  position: relative;
  &-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__txt {
      font-family: $font-secondary;
      font-size: 1.9rem;
      font-weight: 500;
    }
  }
  &-menu {
    animation: slide 1000ms forwards;
    @include laptop {
      display: flex;
      justify-content: space-around;
    }
    &__title {
      margin: 1.5rem 0rem 0rem 0rem;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
    }
    &__underline {
      width: 42px;
      border: 2px solid $colour-tertiary;
    }
    &-card {
      background-color: #fff;
      padding: 12px 15px;
      display: flex;
      box-shadow: 2px 4px 15px 0px #bfbfbf;
      border-radius: 1rem;
      margin: 1rem 0rem;
      overflow: hidden;
      cursor: pointer;
      opacity: 0;
      @include laptop {
        width: 31vw;
      }
      &:hover &-content-right {
        animation: check 300ms linear forwards;
      }
      &:hover &__check-circle {
        animation: check-rotate 600ms;
      }
      &__price {
        display: flex;
        align-items: flex-end;
      }
      &__check {
        display: flex;
        align-items: center;
        color: white;
        font-size: 26px;
        padding: 1rem;
        margin: -12px -15px -12px 20px;
        background-color: $colour-tertiary;
      }
      &-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        &__title {
          margin-bottom: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__txt {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-right {
          display: flex;
          margin-right: -4rem;
        }
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
.slide {
  @include slide($slides);
}
.btn {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin: 1.5rem;
}
@keyframes check {
  0% {
    margin-right: -4rem;
  }
  100% {
    margin-right: 0rem;
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slide {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
