.loading {
  animation: loading-bg 3s ease;
  z-index: 1001;
  &-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    &__dome {
      width: 80%;
      position: fixed;
      text-align: center;
      z-index: 1000;
      /* opacity: 0; */
      animation: dome 3s;
      visibility: hidden;

      @include tablet {
        width: 60%;
      }
      @include laptop {
        width: 50%;
      }
      @include laptop-m {
        width: 40%;
      }
    }
    &__txt {
      width: 100%;
      font-family: $font-secondary;
      font-size: 2.5rem;
      position: fixed;
      text-align: center;
      /* opacity: 0; */
      visibility: hidden;
      z-index: 999;
      background: -webkit-linear-gradient(
        355deg,
        rgba(155, 89, 220, 1) 0%,
        rgba(167, 127, 216, 1) 39%,
        rgba(255, 121, 218, 1) 85%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(2px 4px 6px #a77fd8);
      animation: loading-txt 3s;

      @include mobile-1 {
        font-size: 2rem;
        margin-top: 5vh;
      }
      @include mobile-2 {
        font-size: 2.5rem;
        margin-top: 7vh;
      }
      @include tablet {
        font-size: 2.8rem;
        margin-top: 15vh;
      }
      @include laptop {
        font-size: 3.5rem;
        margin-top: 20vh;
      }
      @include laptop-m {
        font-size: 4rem;
        margin-top: 25vh;
      }
      @include laptop-l {
        font-size: 4rem;
        margin-top: 30vh;
      }
    }
  }
}

@keyframes loading-bg {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(5px);
  }
}
@keyframes dome {
  0% {
    /* opacity: 1; */
    visibility: visible;
    transform: rotate(2deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(0deg);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15vh);
  }
  100% {
    transform: translateY(-13vh);
    /* opacity: 1; */
    visibility: visible;
  }
}
@keyframes loading-txt {
  0% {
    opacity: 0;
    visibility: visible;
  }
  60% {
    transform: translateY(-2vh);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
