.hiw {
  margin: 2rem 1rem;
  &__title {
    margin-bottom: 1rem;
    @include mobile-3 {
      text-align: center;
    }
  }
}
.hiw-wrapper {
  display: flex;
  flex-direction: column;
  @include mobile-3 {
    align-items: center;
  }
  @include laptop {
    flex-direction: row;
    justify-content: space-evenly;
  }
  &-hiwcard {
    display: flex;
    background-color: $hiw-card-bg;
    margin: 1rem 0rem 0.5rem 0.7rem;
    padding: 1.5rem 0rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 15px 0px #c5c4c4;
    @include mobile-3 {
      width: 300px;
    }
    @include laptop {
      align-items: center;
      max-width: 234px;
      justify-content: center;
      position: relative;
    }
    &__ico {
      margin-right: 1rem;
      @include laptop {
        margin-right: 0.5rem;
      }
    }
    &:hover {
      background-color: lighten($colour-primary, 35%);
    }
    &:hover > &__ico {
      color: $colour-primary;
    }
  }
}
.num-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a26eda;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  margin-left: -3vw;
  @include laptop {
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 0vw;
    position: absolute;
    top: -15px;
    right: 90px;
  }
}
