.search {
  background-color: $section-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__bar {
    background-color: $search-bg;
    width: 100%;
    text-align: center;
    &-input {
      border: none;
      padding: 1rem;
      font-family: Roboto, "FontAwesome", sans-serif;
      font-weight: 500;
      font-size: 1rem;
      background-color: $search-bg;
      width: 100%;
      text-align: center;
      box-shadow: inset 0px 3px 4px #c1c0c0;
    }
  }
  &__title {
    padding: 2rem 3rem 0.5rem 3rem;
  }
  &__txt {
    font-size: 18px;
    font-weight: 300;
    padding: 0rem 1rem 1.5rem;
  }
}
