$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-bg: #353535;
$search-bg: lighten($colour-bg, 65%);
$section-bg: lighten($colour-bg, 75.5%);
$hiw-card-bg: lighten($colour-bg, 75%);

$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;
